body {
		background: #000;
		color: #FFF;
		font-size: 4.5vw;
	}
	
div { 
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

h1 {
	text-align: center;
	font-size: 7vw;
}

#nav, #selectorbar {
	display: grid;
	grid-template-columns: 1fr;
}

#nav {
	padding-top: 1vw;
}

.buttonRow {
	padding: 2.5px;
}

button, select, input {
	font-size: 3vw;
	margin-left: 2.5px;
	margin-right: 2.5px;
}

canvas {
	width: 40vw;
	height: 40vw;
}

.horizontal {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.vertical {
	display:flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
}

.small-gap {
	margin-top: 2px;
	margin-bottom: 2px;
}

@media screen and (width >= 600px) {
	
	body {
		font-size:3.5vw;
	}
	
	.horizontal {
		grid-template-columns: repeat(4, 1fr);
	}
	
	.moondiv {
		width: 20vw;
		padding-left: 2vw;
		padding-right: 2vw;
	}
	
	canvas {
		width: 20vw;
		height: 20vw;
	}
	
	h1 {
		font-size: 3.5vw;
	}
}

@media screen and (width >= 700px) {
	
	body {
		font-size: 2.5vw;
	}
	
	button, select, input {
	font-size: 2.5vw;
	}
	
	#nav, #selectorbar {
		grid-template-columns: repeat(2, 1fr);
	}
	
}

@media screen and (width >= 1000px) {
	body {
		font-size: 1.5vw;
	}
	
	#selectorbar {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	button, select, input {
		font-size: 1.5vw;
	}
	
	h1 {
		font-size: 2.5vw;
	}
}
